
    <ul class="nav navbar-nav navbar-left">

<div id="content">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">

            <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                <i class="fas fa-align-left"></i>
                <span>Menu</span>
            </button>

        </div>
    </nav>
</div>
    </ul>